<div class="row">
    <div class="col-sm-6 offset-md-3">
        <mat-card>
            <mat-card-title class="text-center mb-4">
                Login Form
            </mat-card-title>
            <mat-card-content>
                <form class="loginForm" (ngSubmit)="onLogin()" #loginForm="ngForm">
                    <mat-form-field appearance="fill">
                        <input type="text" #email="ngModel" minlength="15" matInput ngModel name="email" id=""
                            placeholder="Email" required>
                        <mat-error *ngIf="email.errors?.['required']">
                            This field is Mandatory!
                        </mat-error>
                        <mat-error *ngIf="email.errors?.['minlength']">
                            The minimum length of email should be {{email.getError('minlength').requiredLength| json}}
                            and current
                            length is {{email.getError('minlength').actualLength | json}}
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <input type="password" matInput ngModel name="password" id="" placeholder="Password" required>
                    </mat-form-field>
                    <button mat-raised-button type="submit" color="primary">
                        Login
                    </button>
                </form>
                {{email.errors | json}}
            </mat-card-content>
        </mat-card>
    </div>
</div>